<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container conteudo" id="recepicao">
    <img src="https://www.motonline.com.br/noticia/wp-content/uploads/2019/07/yamaha-r3-2020-2.jpg" alt="">
    <ion-card>
      <ion-card-header>
        <ion-card-title>A procura de uma nova Moto?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Então você está procurando no lugar certo. A TDS te proporciona uma grande variedade de motos, desde motos esportivas até motos offroad.
        Logo abaixo já temos algumas motos que possam de interessar, tanto novas quantos usadas.
      </ion-card-content>
    </ion-card>
    <h1 margin="20px 20px">Ofertas de hoje:</h1>

  </div>
  <div class="container conteudo" id="">
    

  </div>
</ion-content>
